#menu_position {

	font-size: 20pt;
	text-align: left;
	height: auto;
	width: 98%;
	left: 10px;
	top: 15px;
	position: relative;
	/*position: absolute;*/
	visibility: visible;	
}

#search_forms_position {

	height: auto;
	width: 50%;
	left: 15px;
	top: 30px;
	position: relative;
	/*bottom: 35px;*/
	/*position: absolute;*/
	visibility: visible;
}

#infoboard {

	height: auto;
	width: 50%;
	right: 10px;
	bottom: 10px;
	position: absolute;
	visibility: visible;
}


/* styles for menu generation */
#user_menu {
	position: relative;
	height: 20px;
	width: 190px;
	padding: 2px;
	border: 0px;
	margin: 0px;
	bottom: 0px;
	left: 0px;
	background-color: #FFFFFF;
}

#sddm {
	margin: 0;
	padding: 0;
	z-index: 30;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
}

#sddm li {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: bold 11px arial;
	color: #CCCCCC;
}

#sddm li a {
	display: block;
	margin: 0 1px 0 0;
	padding: 4px 10px;
	width: 60px;
	background: #FFFFFF;
	/*color: #CCCCCC;*/
	text-align: center;
	text-decoration: none;
	z-index: 30}

#sddm li p {
	display: block;
	margin: 0 1px 0 0;
	padding: 4px 0px;
	width: auto;
	background: #FFFFFF;
	/*color: #CCCCCC;*/
	text-align: center;
	text-decoration: none;
	z-index: 30
}

#sddm li a:hover {
	background-color: #FFFFFF;
}

#sddm div {
	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #FFFFFF;
	border: 1px solid #CCCCCC
}

#sddm div a {
	position: relative;
	display: block;
	margin: 0;
	padding: 5px 10px;
	width: auto;
	white-space: nowrap;
	text-align: left;
	text-decoration: none;
	background: #FFFFFF;
	/*color: #CCCCCC;
	font: 15px arial;*/
	z-index: 30
}

#sddm div a:hover {
	background: #49A3FF;
	color: #FFF
}


