/*styles*/
.title{ color:#CF0E0F; font-family: Verdana; font-weight: bolder; font-size: 16pt;}
.content{ font-family: Verdana; font-size: 10pt}
.desc{ font-family: Verdana; font-size: 8pt; font-style: italic}

body{ background-color: white; }

