/*Page Style @1-BD28DB3E*/
#equipment_manufacturer_tbs_EQUIP_MODEL_choices {
    position: absolute;
}
#equipment_manufacturer_tbs_EQUIP_MODEL_choices ul {
    background-color: white;
    border: 1px solid black;
    border-top: none;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
}
#equipment_manufacturer_tbs_EQUIP_MODEL_choices ul li.selected { background-color: #aaa;}
#equipment_manufacturer_tbs_EQUIP_MODEL_choices li {
    list-style-type: none;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0;
}
/*End Page Style*/

