/*Page Style @1-4F918695*/
#sales_table_importedSearchs_CUSTOMERREF_choices {
    position: absolute;
}
#sales_table_importedSearchs_CUSTOMERREF_choices ul {
    background-color: white;
    border: 1px solid black;
    border-top: none;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
}
#sales_table_importedSearchs_CUSTOMERREF_choices ul li.selected { background-color: #aaa;}
#sales_table_importedSearchs_CUSTOMERREF_choices li {
    list-style-type: none;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0;
}
/*End Page Style*/

