/*Page Style @1-B0164765*/
#agents_tbl1s_AGENT_NAME_choices {
    position: absolute;
}
#agents_tbl1s_AGENT_NAME_choices ul {
    background-color: white;
    border: 1px solid black;
    border-top: none;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
}
#agents_tbl1s_AGENT_NAME_choices ul li.selected { background-color: #aaa;}
#agents_tbl1s_AGENT_NAME_choices li {
    list-style-type: none;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0;
}
/*End Page Style*/

