/*Page Style @1-47FA0434*/
#tools_accessories_tools_ms_tool_id_choices {
    position: absolute;
}
#tools_accessories_tools_ms_tool_id_choices ul {
    background-color: white;
    border: 1px solid black;
    border-top: none;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
}
#tools_accessories_tools_ms_tool_id_choices ul li.selected { background-color: #aaa;}
#tools_accessories_tools_ms_tool_id_choices li {
    list-style-type: none;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0;
}
/*End Page Style*/

